doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0 ')
    meta(name='keywords', content='Charity, Social Welfare, Welfare, Charity organizations in Pakistan, Charity organization in Karachi, Volunteer in social welfare, Get help. Help, Volunteer, Donate, Donate to cause, Spread Smile, Health care')
    meta(name='description', content='Every smile is valuable and priceless, We try to spread smile by helping those in need. Come Join our cause! You can help us by either Volunteering, Donating or simply by just spreading the word.')
    meta(http-equiv='content-type', content='text/html; charset=UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Shifa Social Welfare Association | Every Smile Matters
    link(rel='import', href='elements/header.html')
    script(src='bower_components/webcomponentsjs/webcomponents-lite.min.js')
  body
    c-header